---
const {product} = Astro.props;
---
<>
    <input type="checkbox" id={"product-modal-" + product.id.toString()} class="modal-toggle" />
    <div class="modal" id="product-modal">
        <div
            class="card flex-shrink-0 w-[600px] shadow-2xl bg-base-100 h-fit pb-6"
        >
            <label
                for={"product-modal-" + product.id.toString()}
                class="btn btn-sm btn-circle absolute right-6 top-6">✕</label
            >
            <figure>
                <img
                    src={product.image}
                    alt="Shoes"
                    class="rounded-t-2xl w-full object-cover h-80"
                />
            </figure>
            <div class="p-6 w-full h-full">
                <div class="flex flex-row w-full">
                    <div class="flex-start mr-4">
                        <div class="avatar">
                            <div class="w-20 h-20 rounded-full">
                                <img
                                    src={product.producer.picture}
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col h-full justify-between py-4 mb-4">
                        <div class="text-xl">{product.producer.name}</div>
                        <div class="rating">
                            <input type="radio" name="rating-1" class="mask mask-star bg-yellow-400" />
                            <input type="radio" name="rating-1" class="mask mask-star bg-yellow-400" />
                            <input type="radio" name="rating-1" class="mask mask-star bg-yellow-400" />
                            <input type="radio" name="rating-1" class="mask mask-star bg-yellow-400" checked/>
                            <input type="radio" name="rating-1" class="mask mask-star bg-yellow-400" />
                          </div>
                    </div>
                </div>
                <div class="flex flex-col w-full">
                    <div class="flex flex-row justify-between">
                        <div class="text-2xl">{product.name}</div>
                        <div class="text-2xl">{product.price}€</div>
                    </div>
                    <div class="text-lg font-bold mt-4 mb-1">Description</div>
                    <div class="text-md">
                        {product.description}
                    </div>
                </div>
            </div>
            <div class="btn btn-primary w-fit mx-auto px-6"> Add to cart</div>
        </div>
    </div>
</>
